<nav class="bg-[#7392B7]">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a routerLink="/" class=" font-bold text-lg font-cinzel text-[#F3C969]">Trendsettra</a>
      </div>
      <div class="md:hidden flex items-center"> <!-- Added "flex" class -->
        <button type="button" class="text-gray-300 hover:text-white focus:outline-none focus:text-white" aria-label="Toggle menu" (click)="toggleMenu()">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path *ngIf="!isMenuOpen" class="text-white" fill-rule="evenodd" clip-rule="evenodd" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z" />
            <path *ngIf="isMenuOpen" class="text-white" fill-rule="evenodd" clip-rule="evenodd" d="M20 12a8 8 0 1 1-16 0 8 8 0 0 1 16 0zm-4 0a4 4 0 1 0-8 0 4 4 0 0 0 8 0zm-8-1a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm0 5a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm4-5a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm0 5a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2z" />
          </svg>
        </button>
        <button type="button" class="font-cinzel text-[#F3C969] hover:text-white focus:outline-none focus:text-white ml-4" aria-label="Shopping Cart" (click)="openModal()">
          <i class="material-icons">shopping_cart</i>
        </button>
      </div>
      <div class="hidden md:flex md:items-center md:space-x-4">
        <a routerLink="" class="text-white hover:text-gray-200">Home</a>
        <a routerLink="/search" class="text-white hover:text-gray-200">Search</a>
        <a routerLink="/contact" class="text-white hover:text-gray-200">Contact</a>
        <button type="button" class="text-gray-300 hover:text-white focus:outline-none focus:text-white ml-4" aria-label="Shopping Cart" (click)="openModal()">
          <i class="material-icons">shopping_cart</i>
        </button>
      </div>
    </div>
    <div class="md:hidden" [class.block]="isMenuOpen" [class.hidden]="!isMenuOpen">
      <a routerLink="" class="block font-cinzel text-[#F3C969] py-2">Home</a>
      <a routerLink="/search" class="block font-cinzel text-[#F3C969] py-2">Search</a>
      <button type="button" class="block font-cinzel text-[#F3C969] py-2" aria-label="Shopping Cart" (click)="openModal()">
        <!-- Add your shopping cart icon here -->
      </button>
    </div>
  </div>
</nav>

<!-- Modal -->
<div *ngIf="isModalOpen" class="w-2/3 mx-auto fixed inset-0 flex items-center justify-center z-10 text-[#F3C969]">
  <div class="bg-[#7392B7] rounded-lg p-8 shadow-lg h-auto">
    <div class="flex justify-end mb-6 z-11 text-[#F3C969]">
      <button (click)="closeModal()" class="text-black hover:text-gray-700 focus:outline-none">
           <svg class="w-6 h-6 text-[#F3C969]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
  </svg>
      </button>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h2 class="text-3xl font-cinzel text-[#F3C969] mb-4">Shopping Cart</h2>
      <div class="overflow-y-auto max-h-80">
        <div *ngFor="let item of cartItem" class="bg-[#D8E1E9] text-black shadow-md  rounded-lg mb-4 mx-4">
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <img class="w-24 h-24 object-contain rounded-xl" [src]="item.image" alt="{{ item.title }}" />
              <div class="p-4 flex flex-col">
                <h3 class="text-xl font-medium mb-2">{{ item.title }}</h3>
                <p>{{ '$' + item.price.toFixed(2)}}</p>
                <div class="flex items-center space-x-2">
                  <div class="flex items-center border border-gray-300 rounded">
                    <button class="px-2 sm:px-3 py-1 text-sm" (click)="decreaseQuantity(item)">-</button>
                    <span class="px-2 sm:px-3 py-1">{{ item.quantity }}</span>
                    <button class="px-2 sm:px-3 py-1 text-sm" (click)="increaseQuantity(item)">+</button>
                  </div>
                  <button class="flex items-center justify-center bg-red-500 w-10 text-white px-1 py-1 rounded hover:bg-red-600" (click)="deleteItem(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="flex justify-between items-center mt-4 bg-[#7392B7]">
      <div>
        <h4 class="text-lg font-bold">Total:</h4>
        <p class="text-lg">{{ '$' + calculatedTotal.toFixed(2) }}</p>
      </div>
      <button class="bg-[#73956F] text-white px-3 py-2 rounded-sm hover:bg-green-600" (click)="checkout()">Check Out</button>
    </div>
  </div>
</div>













<section id="home" class="w-full">
    <router-outlet></router-outlet>
</section>



<footer class="bg-[#7392B7] text-[#F3C969] py-8 font-cinzel">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap justify-between">
      <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/3 mb-6">
        <h3 class=" text-lg mb-2">About Us</h3>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/3 mb-6">
        <h3 class=" text-lg mb-2">Contact Us</h3>
        <p class="">707 Boeing, Nebraska</p>
        <p class="">Trendsettra@Email.com</p>
        <p class="">123-456-7890</p>
      </div>
    </div>
    <hr class="border-gray-700 my-6">
    <div class="flex flex-wrap items-center">
      <div class="w-full sm:w-1/2 text-center sm:text-left">
        <p class="">&copy; 2023 Trendsettra. All rights reserved.</p>
      </div>
      <div class="w-full sm:w-1/2 text-center sm:text-right">
        <ul class="text-sm">
          <li class="inline-block ml-2 "><a href="#" class="hover:text-blue-500">Terms of Service</a></li>
          <li class="inline-block ml-2"><a href="#" class="hover:text-blue-500">Privacy Policy</a></li>
          <li class="inline-block ml-2"><a href="#" class="hover:text-blue-500">Cookie Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

