<div class="bg-[#D8E1E9] py-4">
  <div class="container mx-auto flex flex-col sm:flex-row items-center justify-center">
    <!-- <input
      class="h-10 border border-gray-300 rounded-l py-2 px-4 mb-2 sm:mb-0 sm:mr-2 w-full sm:w-3/4 md:w-1/2"
      type="text"
      placeholder="Search by product name, brand, or category..."
    /> -->
    <select class="h-10 border border-gray-300 rounded py-2 px-4 w-full sm:w-auto" [(ngModel)]="selectedCategory" (change)="onSearch()">
      <option value="">All Categories</option>
      <option value="men's clothing">Men's Clothing</option>
      <option value="women's clothing">Women's Clothing</option>
      <option value="jewelry">Jewelry</option>
      <option value="electronics">Electronics</option>
    </select>
    <button class="h-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r mt-2 sm:mt-0" (click)="onSearch()">
      Search
    </button>
  </div>
</div>



<mat-paginator
  [length]="allProductsList.length"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Select page"
  (page)="handlePageEvent($event)"
  [ngStyle]="{ 'background-color': '#D8E1E9' }"
></mat-paginator>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4 bg-[#D8E1E9]">
  <div class="w-full my-10 px-4" *ngFor="let item of paginatedProductsList">
    <button class="bg-white rounded-lg shadow-md p-4 focus:outline-none flex flex-col justify-between hover:bg-slate-300" (click)="openModal(item)">
      <div class="flex items-center justify-center">
        <img class="w-full h-48 object-contain rounded-2xl" src="{{ item.image }}" alt="{{ item.title }}">
      </div>
      <div class="mt-4">
        <h2 class="text-lg font-semibold h-16 overflow-hidden">{{ item.title }}</h2>
        <p class="text-gray-600 mt-2 text-left">{{ '$' + item.price.toFixed(2) }}</p>
        <p class="text-gray-600 text-left">{{ item.category }}</p>
        <p class="text-gray-600 mt-2 line-clamp-3 text-left">{{ item.description }}</p>
        <div class="flex items-center mt-2">
          <span class="text-yellow-500 mr-1">&#9733;</span>
          <span class="text-gray-600">{{ item.rating.rate }}</span>
        </div>
      </div>
    </button>
  </div>
</div>



  
  <!-- Modal -->
  <div *ngIf="selectedItem" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="relative bg-white rounded-lg shadow-lg p-6 max-w-md">
      <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-800 focus:outline-none bg-white rounded-full p-2" (click)="closeModal()">
        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 18L18 6M6 6l12 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      
      <div *ngIf="selectedItem" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="relative bg-white rounded-lg shadow-lg p-6 max-w-md">
          <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-800 focus:outline-none bg-white rounded-full p-2" (click)="closeModal()">
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 18L18 6M6 6l12 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          
          <div class="flex items-center justify-center mb-4">
            <img class="w-40 h-40 object-cover rounded-2xl" src="{{ selectedItem.image }}" alt="{{ selectedItem.title }}">
          </div>
          <h2 class="text-2xl font-semibold mb-2">{{ selectedItem.title }}</h2>
          <p class="text-gray-600 mb-2">{{ selectedItem.price }}</p>
          <p class="text-gray-600 mb-4">{{ selectedItem.description }}</p>
          <div class="flex items-center mb-4">
            <span class="text-yellow-500 mr-1">&#9733;</span>
            <span class="text-gray-600">{{ selectedItem.rating.rate }}/</span>
            <span class="text-gray-600">{{ selectedItem.rating.count }}</span>
          </div>
          <div class="flex items-center mb-4">
            <span class="text-gray-600 mr-2">Quantity:</span>
            <div class="flex items-center border border-gray-300 rounded">
              <button class="px-3 py-1" (click)="decreaseQuantity()">-</button>
              <span class="px-3 py-1">{{ quantity }}</span>
              <button class="px-3 py-1" (click)="increaseQuantity()">+</button>
            </div>
          </div>
          <button class="w-full bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2 focus:outline-none" (click)="addToCart(selectedItem, quantity)">Add to Cart</button>
        </div>
      </div>
      